# Assign a recognizable name to the thermal printers

# NOTE: the symlink MUST be in the usb/ directory, else it creates a link to
# the "parent/root/whatever" usb device, instead of a link to the usblp
# subsystem

# To find the attributes:
# udevadm info -a  -p $(udevadm info -q path -n /dev/usb/lp0)

# for orange and blue printers
#SUBSYSTEMS=="usb", ATTRS{serial}=="Printer", ATTRS{manufacturer}=="STMicroelectronics", SYMLINK+="usb/lp-thermal", MODE="0666"

# for goojprt printer
#SUBSYSTEMS=="usb", ATTRS{serial}=="001E00110241341000000128", ATTRS{manufacturer}=="Caysn", SYMLINK+="usb/lp-thermal", MODE="0666"

# The rules above didn't work, becuase lp-thermal created a symlink to ../bus/usb/ instead of lp. The following were suggested by chatgpt:
KERNEL=="lp*", ATTRS{serial}=="Printer", ATTRS{manufacturer}=="STMicroelectronics", SYMLINK+="usb/lp-thermal", MODE="0666"
KERNEL=="lp*", ATTRS{serial}=="001E00110241341000000128", ATTRS{manufacturer}=="Caysn", SYMLINK+="usb/lp-thermal", MODE="0666"


# for "big" Aclass" printers
# SUBSYSTEMS=="usb", ATTRS{product}=="Aclass-Printer", SYMLINK+="usb/lp-big"
# SUBSYSTEMS=="usb", ATTRS{serial}=="Aclass-8888-12340", SYMLINK+="usb/lp-aclass-1"

# SUBSYSTEMS=="usb", ATTRS{product}=="POS80 Printer USB", SYMLINK+="usb/lp-big"
# SUBSYSTEMS=="usb", ATTRS{serial}=="76669C740E30", SYMLINK+="usb/lp-pos80-1"

SUBSYSTEM=="usb", ATTRS{product}=="Aclass-Printer", ENV{LP_ALIAS}="lp-big"
SUBSYSTEM=="usb", ATTRS{serial}=="Aclass-8888-12340", ENV{LP_ALIAS}="lp-aclass-1"

SUBSYSTEM=="usb", ATTRS{product}=="POS80 Printer USB", ENV{LP_ALIAS}="lp-big"
SUBSYSTEM=="usb", ATTRS{serial}=="76669C740E30", ENV{LP_ALIAS}="lp-pos80-1"

SUBSYSTEM=="usb", KERNEL=="lp[0-9]*", ENV{LP_ALIAS}!="", SYMLINK+="usb/%E{LP_ALIAS}"
