<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{static}}/bootstrap.min.css">
  </head>

  <body style="font-size: 14pt">
    <div class="container">
      {% if reprint %}
      <h1 class="text-center">RISTAMPA</h1>
      {% endif %}

      <div class="row">
        <div class="col-xs-3"><b>Ordine</b></div>
        <div class="col-xs-3"><b>Tavolo</b></div>
        <div class="col-xs-3"><b>Cliente</b></div>
        <div class="col-xs-3"><b>Cassiere</b></div>
      </div>

      <div class="row">
        <div class="col-xs-3">{{order.textual_id()}}</div>
        <div class="col-xs-3">{{order.table}} [{{order.waiter}}]</div>
        <div class="col-xs-3">{{order.customer}}</div>
        <div class="col-xs-3">{{order.cashier}}</div>
      </div>

      <br>
      <div class="row">
        <div class="col-xs-3">
          <b>Note</b>
        </div>
        <div class="col-xs-9">{{order.notes}}</div>
      </div>

      <br>
      <br>
      
      <div class="row">
        {% for column_content in columns %}
        <div class="col-xs-6">
        <table class="table table-condensed" style="font-size: 13pt">
          {% for item in column_content %}
            {% if item.kind == 'separator' %}
              <tr>
                <th colspan="3">{{item.name}}</th>
              </tr>
            {% elif item.count == 0 %}
              <tr style="padding-left: 1em" class="text-muted">
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>{{item.name}}</td>
                <td>{{'%.2f' % item.price}} €</td>
              </tr>
            {% else %}
              <tr>
                <td class="text-right">{{item.count}}</td>
                <td>{{item.name}}</td>
                <td>{{'%.2f' % item.price}} €</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
