<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{static}}/bootstrap.min.css">
  </head>

  <body style="font-size: 18pt">
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <b>Numero ordine</b>
        </div>
        <div class="col-xs-1">1</div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <b>Tavolo</b>
        </div>
        <div class="col-xs-1">{{data.table}}</div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <b>Cliente</b>
        </div>
        <div class="col-xs-1">{{data.customer}}</div>
      </div>

      <br>
      <br>
      
      <div class="row">
        <div class="col-xs-9">
        <table class="table" style="font-size: 15pt">
          <tr>
            <th></th>
            <th>Quantità</th>
          </tr>

          {% for item in data.menuitems %}
            {% if item.kind == 'separator' %}
              <tr>
                <th style="padding-top: 2em" colspan="2">{{item.name}}</th>
              </tr>
            {% else %}
              <tr>
                <td>{{item.name}}</td>
                <td>{{item.count}}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
      </div>
    </div>
  </body>
</html>
