<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{static}}/bootstrap.min.css">
  </head>

  <body style="font-size: 16pt">
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <b>Numero ordine</b>
        </div>
        <div class="col-xs-9">1</div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <b>Tavolo</b>
        </div>
        <div class="col-xs-9">{{data.table.name}}</div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <b>Cliente</b>
        </div>
        <div class="col-xs-9">{{data.customer}}</div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <b>Note</b>
        </div>
        <div class="col-xs-9">{{data.notes}}</div>
      </div>

      <br>
      <br>
      
      <div class="row">
        <div class="col-xs-9">
        <table class="table" style="font-size: 14pt">
          {% for item in data.menuitems %}
            {% if item.kind == 'separator' %}
              <tr>
                <th colspan="2">{{item.name}}</th>
              </tr>
            {% elif item.count == 0 %}
              <tr style="padding-left: 1em" class="text-muted">
                <td></td>
                <td>{{item.name}}</td>
              </tr>
            {% else %}
              <tr>
                <td class="text-right">{{item.count}}</td>
                <td>{{item.name}}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
      </div>
    </div>
  </body>
</html>
