[Unit]
Description=ristomele spooler
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/ristomele/
ExecStart=/home/pi/ristomele/venv/bin/python -m server.spooler /tmp/spooldir/
Restart=on-failure
RestartSec=5s
